[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pylint = "*"

[packages]
mowgli = {editable = true,path = "."}
flask = "*"
tensorflow = "==2.1.0"
gunicorn = "*"
tensorflow-text = "*"
scikit-learn = "*"

[scripts]
lint = "pylint mowgli"

[requires]
python_version = "3.5"
