[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pylint = "*"

[packages]
mowgli = {editable = true,path = "."}
flask = "*"
tensorflow = "*"
pandas = "*"
nltk = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
